.container
    .mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
        .panel.panel-info
          .panel-heading
            .panel-title Sign In
                                   
          .panel-body
            p.text-center You must be signed in so we will be able to track you :)
            p.text-center
              button.btn.btn-primary.btn-lg(ng-click='signin()') Sign in with Facebook
