doctype html
html(ng-app='ngCannatel', ng-controller='AppCtrl')
head
    title(ng-bind='pageTitle')
    
    // font awesome from BootstrapCDN
    link(href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')

    // compiled CSS
    <% styles.forEach( function ( file ) { %>
    link(rel='stylesheet', href='<%= file %>')<% }); %>

    // compiled JS
    <% scripts.forEach( function ( file ) { %>
    script(src='<%= file %>')<% }); %>

  body
    .container
      .navbar.navbar-default
        .navbar-header
          button.navbar-toggle(type='button', ng-init='menuCollapsed = true', ng-click='menuCollapsed = ! menuCollapsed')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .navbar-brand
            a(href, ui-sref='home') Cannatel
        .collapse.navbar-collapse(collapse='menuCollapsed')
          ul.nav.navbar-nav
            li(ui-sref-active='active', ng-show='isIdentified()')
              a(href, ui-sref='home')
                i.fa.fa-home
                |  Home
            li(ui-sref-active='active')
              a(href='href', ui-sref='about')
                i.fa.fa-info-circle
                |  What is it?
            li
              a(href='https://github.com/ElielHaouzi/cannatel/issues')
                i.fa.fa-comments
                |  Support
    .container(ui-view='main')
    footer.footer
      .container
        .footer-inner
          p
            | &copy; 2015 - Made with 
            i.fa.fa-heart.fa-lg
            |  at 
            a(href='http://annatel.co.il') Annatel 
            | by 
            a(href='https://facebook.com/eliel.haouzi') Eliel.
