.container-fluid
  .row
    .col-sm-8
      .panel.panel-default
        .panel-heading
          h4 Canettes
        .panel-body
          .table-responsive
            table.table.table-bordered
              thead
                tr
                  th Name
                  th Fanta
                  th Coca
                  th Zero
                  th XL
                  th Blue
              tbody
                tr(ng-repeat='(key, user) in users')
                  td {{user.name}}
                  td
                    div
                      div.text-center
                        span {{user.current.fanta}}
                      div.text-center(ng-show='key == me.$id')
                        button(ng-click='reset(user, "fanta")')
                          i.fa.fa-money.fa-fw
                        | 
                        button(ng-click='inc(user, "fanta")') 
                          i.fa.fa-plus.fa-fw
                  td
                    div
                      div.text-center
                        span {{user.current.coca}}
                      div.text-center(ng-show='key == me.$id')
                        button(ng-click='reset(user, "coca")')
                          i.fa.fa-money.fa-fw
                        | 
                        button(ng-click='inc(user, "coca")') 
                          i.fa.fa-plus.fa-fw
                  td
                    div
                      div.text-center
                        span {{user.current.zero}}
                      div.text-center(ng-show='key == me.$id')
                        button(ng-click='reset(user, "zero")')
                          i.fa.fa-money.fa-fw
                        | 
                        button(ng-click='inc(user, "zero")') 
                          i.fa.fa-plus.fa-fw
                  td
                    div
                      div.text-center
                        span {{user.current.xl}}
                      div.text-center(ng-show='key == me.$id')
                        button(ng-click='reset(user, "xl")')
                          i.fa.fa-money.fa-fw
                        | 
                        button(ng-click='inc(user, "xl")') 
                          i.fa.fa-plus.fa-fw
                  td
                    div
                      div.text-center
                        span {{user.current.blue}}
                      div.text-center(ng-show='key == me.$id')
                        button(ng-click='reset(user, "blue")')
                          i.fa.fa-money.fa-fw
                        | 
                        button(ng-click='inc(user, "blue")') 
                          i.fa.fa-plus.fa-fw
    .col-md-4
      .panel.panel-default
        .panel-heading
          h4 Total
        .panel-body
          .table-responsive
            table.table.table-bordered
              thead
                tr
                  th Name
                  th Fanta
                  th Coca
                  th Zero
                  th XL
                  th Blue
              tbody
                tr(ng-repeat='user in users')
                  td {{user.name}}
                  td {{user.total.fanta}}
                  td {{user.total.coca}}
                  td {{user.total.zero}}
                  td {{user.total.xl}}
                  td {{user.total.blue}}
  .row
    .col-md-6
      .panel.panel-default
        .panel-heading
          h4 Mes Statistiques - {{me.name}}
        .panel-body
          .row
            .col-md-6
              div(ng-hide='today.me.data')
                h6 Vous n'avez encore rien bu aujourd'hui.
              canvas#doughnut.chart.chart-doughnut(data="today.me.data", labels="today.me.labels")
            .col-md-6
              canvas#line.chart.chart-line(data='curr_month.me.data', labels='curr_month.me.labels', series='curr_month.me.series')
    .col-md-6
      .panel.panel-default
        .panel-heading
          h4 Statistiques G&eacute;n&eacute;rales
        .panel-body
          .row
            .col-md-6
              div(ng-hide='today.all.data')
                h6 Personne n'a encore rien bu aujourd'hui.
              canvas#doughnut.chart.chart-doughnut(data="today.all.data", labels="today.all.labels")
            .col-md-6
              canvas#line.chart.chart-line(data='curr_month.all.data', labels='curr_month.all.labels', series='curr_month.all.series')
          //- tabset(justified='true')
          //-   tab(heading='Day')
          //-     
          //-   tab(heading='Month') Short Labeled Justified conten
          //-   tab(heading='Year') Long Labeled Justified content
